<div class="container bcontent">
    <h2> {{speakerDetail.name}} </h2>
    <hr />
    <div class="row col-md-12" style="width: 100%;">
        <div class="col-md-3" style=" border-right: 5px solid #3A6073;">
            <img style="border-radius: 50%;height: 254px;width: 252px;"
                [src]="transformImage(speakerDetail.profilePicture)">
        </div>
        <div class="col-md-9">
            <div class="card-body" style="font-family: Gilroy-Medium,Arial;
                font-weight: 400;
                font-size: 16px;
                line-height: 1.375rem;
                letter-spacing: .01471em;">
                <p class="card-text">{{speakerDetail.description}}</p>
            </div>
        </div>
    </div>
</div>