<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">
            <img src="assets/images/u69.png" alt="pyramidtimes" width="200px" height="60px">
          </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <table class="row col-md-12">
            <tr class="row col-md-10">
              <td class="col-md-10" style="padding: 0px;">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto top-nav-items">
                    <li class="nav-item active">
                      <a class="nav-link" [routerLink]="['/home']">Home
                            <span class="sr-only">(current)</span>
                          </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/speakers']">Speakers</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/events']">Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/about']">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/home/contact']">Contact</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td class="col-md-2" style="margin-top:20px;">
              <button class="btn btn-primary" style="width: 164px;
              border-radius: 20px;">Log In</button>
                <!--style="margin-top:26px;border: 1px solid #595e67;
              border-radius: 24px !important;" <div class="log-in" style="    margin-top: 6px;
                font-size: 20px;
                color: black;"><a href="#" title="Log in" class="log-in"  style="
    text-decoration: none;
    align-content: center;
    margin-left: 45px;
    /* margin-top: 42px !important; */
    color: black;
">Log In</a></div> -->
              </td>
            </tr>
          </table>
      
    </div>
  </nav>
  
  <!-- Page Content -->
  <!-- <div class="container">
    <h1 class="mt-4">Logo Nav by Start Bootstrap</h1>
    <p>The logo in the navbar is now a default Bootstrap feature in Bootstrap 4! Make sure to set the width and height of the logo within the HTML or with CSS. For best results, use an SVG image as your logo.</p>
  </div> -->
  <!-- /.container -->
  