
<div class = "card card-primary " *ngFor="let event of data" style="margin-top:10px">
    <div class = "card-header bg-primary">
       <h3 class = "card-title" style="font-size: 28px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-style: italic;"><b>{{event.eventName}}</b></h3>
    </div>
    
    <div class = "card-body row col-md-12">
      <div class="col-md-6" style="border-right: 1px solid #3A6073;">
         <!-- <img  [src]="transform()" style="width: 550px;"> -->
         <img   style="width: 600px;" [src]="transformImage(event.promoPicture)">
      </div>
      <div class="col-md-6">
        <div class="card-body" style="padding: 0px;">    
            <div class="row col-md-12">
               <div class="col-md-6">
                <iframe style="width: 550px;height: 398px;" [src]="event.safeUrl"></iframe>
               </div>          
            </div>      
        </div>
      </div>

      <div *ngIf="!hideDescription" class="col-md-12 card-text">
          <p style="margin-top: 10px;
          font-family: Gilroy-Medium,Arial;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.5;
          color: #212529;
          text-align: left;
          ">{{event.descrption}}</p>
      </div>
      <div class="col-md-12 card-text" style="text-align: end;">
         <button *ngIf="!hideRegistrationButton" class="btn btn-primary" style="font-size: 20px;" [routerLink]="['/home/eventRegistration', speakerId, event.id]">Event Registration </button>
    </div>
    </div>
 </div>
