<footer id="footer" class="mainfooter" role="contentinfo" style="left: 0px;
bottom: 0px;
width: 100%;margin-top:100px">
    <div class="footer-middle">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-6 col-sm-6">
   
          <div class="footer-pad">
            
            <ul class="list-unstyled">
              <li><a class="anchor-footer" href="#"></a></li>
              <li><a class="anchor-footer" href="#">About</a></li>
              <li><a class="anchor-footer" href="#">Contact</a></li>
              <li><a class="anchor-footer" href="#">News</a></li>
              <li><a class="anchor-footer" href="#">Announcements</a></li>
              <li><a class="anchor-footer" href="#">FAQs</a></li>
            </ul>
          </div>
        </div> -->
       
          <div class="col-md-12">
              <h4>Follow Us</h4>
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook anchor-footer" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin anchor-footer" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#" class="icotwitter anchor-footer" title="twitter"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#" class="icoinstagram anchor-footer" title="instagram"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#" class="icowhatsapp anchor-footer" title="whatsapp"><i class="fa fa-whatsapp"></i></a></li>
               <li><a href="#" class="icogoogle anchor-footer" title="google"><i class="fa fa-google-plus"></i></a></li>
              </ul>			
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <p class="text-center">&copy; Copyright 2020 - Pyramid times.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>
    