

 
 
<div class="row col-md-12" style="margin-top: 10px;">
   <div class="col-md-12">
      <label for="start" style="font-size: 20px;font-weight: bolder;">Start date:</label>

      <input type="date" style="font-size: 20px;margin-left: 10px;" id="startDate" placeholder="select date" name="event-start" [(ngModel)]="startDate" >
      <label for="start" style="font-size: 20px;;margin-left: 30px;font-weight: bolder;">End date:</label>

      <input type="date" style="font-size: 20px;margin-left: 10px;" id="endDate" name="event-end" placeholder="select date" [(ngModel)]="endDate"   >
      <span style="margin-left: 20px;"><button class="btn btn-secondary" style="font-size: 20px;"  (click)="filterData()" > Filter Data</button> </span>
   </div>
    
</div>
<div class = "card card-primary " *ngFor="let event of filteredEvents" style="margin-top:20px">
    <!-- <div class = "card-header bg-primary">
       <h3 class = "card-title" style="font-size: 28px;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-style: italic;"><b>{{event.eventName}}</b></h3>
    </div>
     -->
    <div class = "card-body row col-md-12">
      <div class="col-md-6" style="border-right: 1px solid #3A6073;">
         <!-- <img  [src]="transform()" style="width: 550px;"> -->
         <img   style="width: 550px;" [src]="transformImage(event.promoPicture)">
      </div>
      <div class="col-md-6">
         <table class="col-md-12">
            <tr  class="col-md-12" >
            <td class="col-md-12">
               <p style="    font-size: 2.25rem;
               line-height: 2rem;
               letter-spacing: .00893em;    font-family: Gilroy-Bold,Arial;
            font-weight: 700;margin-bottom: 50px;">{{event.eventName}}</p>
            </td>
            </tr>
            <tr  class="col-md-12">
            <td class="col-md-12">
               <p style="font-family: Gilroy-Medium,Arial; 
               font-weight: 600; 
                font-size: 1.75rem; 
                line-height: 1.375rem; 
               letter-spacing: .01471em;">Naveen Jain</p>
            </td>
            </tr>
            <tr  class="col-md-12">
               <td class="col-md-12"> 
                  <p style="font-family: Gilroy-Medium,Arial;
                  font-weight: 400;
                  font-size: .875rem;
                  line-height: 1.1875rem;
                  letter-spacing: .03214em;">Iconic American Entrepreneur, Founder of Moon Express, Viome</p>
               </td>
               </tr>
               <tr  class="row col-md-12">
                <td class="col-md-6">
                  <p> {{event.eventTime | date:'medium'}}</p>
                </td>
                <td class="col-md-6">
                    <button class="btn btn-primary" style="border-radius: 20px;" [routerLink]="['/home/eventDetails', event.speakerId, event.id]"> Know more...</button>  
                  </td>
                </tr>
                     </table>
      
      </div>
    </div>
 </div>
